// This partial contains styling that overrides global elements, such as the #root or body elements
@import './mixins';
@import './variables';
@import './typography';

body {
  padding: 0;
  margin: 0;
  background-color: $color-grey;
}