@import '../../styles/mixins';
@import '../../styles/variables';

.head {
  line-height: $height-nav;
  width: 100%;
  @include fixedTopPage;
  padding: 0;
  transition: margin-left 0.5s ease;
}

.navbar {

  &__menu {
    @include noneBulletFlex
  }
    
  &__push {
    margin-left: auto;
  }  

  &__icon {
    @include iconNoBorder;
    font-size: 36px;
    color: $color-grey;
    position: relative;
    top: 30px;
    margin: 0 10px;
  }
}

.head__withSidebar {
  @include fixedTopPage;
  width: 100vw;
  line-height: $height-nav;
}

