@import '../../styles/mixins';
@import '../../styles/variables';

.head {
  line-height: $height-nav;
  @include fixedTopPage;
  padding: 0;
  transition: margin-left 0.5s ease;
}

.navbar {
  width: 100vh;

  &__menu {
    @include noneBulletFlex
  }

  &__item {

    &:nth-child(2) {
      margin-right: auto;
      margin-left: 5 0px;
    }
  }
  
  &__icon {
    @include iconNoBorder;
    font-size: 36px;
    color: $color-grey;
    position: relative;
    top: 30px;
    margin: 0 10px;
  }
}

.head__withSidebar {
  margin: 0 0 0 $wide-header;
  @include fixedTopPage;
}