@import '../../styles/mixins';
@import '../../styles/variables';

.head {
  line-height: $nav-height;
}

.navbar {
  &__menu {
    list-style: none;
    display: flex;
  }

  &__item {
    &:nth-child(1) {
      margin-right: auto;
      margin-left: 5 0px;
    }
  }
  
  &__icon {
    @include icon;
    position: relative;
    top: 30px;
  }
}