@import '../../styles/mixins';
@import '../../styles/variables';

.countriesRow{
  border-bottom: 0.5px $color-white dashed;
  padding: 20px 0;;
  line-height: 1.5em;

  &__img{
    width: 80px;
    height: auto;
  }
  
  //??? why does
  &__link:hover{
    text-decoration-line: underline 1px $color-white;
  }

  &__icon{
    font-size: 35px;
  }
  
} 

